extends ../layout
block navbar
    include ../component/navbar/navbar-other
block content
    - var imgSrc = "/images/c.jpg"
    - var driverName = "นายเอบี นอมอล"
    - var start = "กรุงเทพ"
    - var destination = "นครปฐม"
    - var rateMoney = 2000
    - var goods = "ข้าว"
    - var weigth = 50
    - var dateOfAnnounce = "23/10/2020"
    - var dateOfOrder = "วันอังคาร ที่ 13 สิงหาคม";
    - var describe = "รับงานด่วนๆๆๆ"
    .container-fluid.mt-5.p-5
        a(href="/work").text-dark.mt-5
            i.fas.fa-arrow-left
            |  ย้อนกลับ
        .card.shadow-lg
            .card-header.d-flex
                img(src=imgSrc, alt="" srcset="" height="40px").rounded-circle
                p.text-inline= driverName
            .card-body
                //เส้นทาง
                .row
                    .col.d-flex
                        h5.m-2 
                            i.fas.fa-location-arrow.text-danger
                        p.m-2= start 
                            i.fas.fa-arrow-right
                            = destination
                //สินค้า
                .row
                    .col.d-flex
                        h5.m-2
                            i.fas.fa-shopping-cart.text-warning
                        p.m-2= goods
                //น้ำหนักสินค้า
                .row
                    .col.d-flex
                        h5.m-2
                            i.fas.fa-weight 
                        p.m-2= weigth
                            |  กิโลกรัม
                //เรทราคา
                .row
                    .col.d-flex
                        h5.m-2
                            i.fas.fa-money-bill-wave-alt.text-success
                        p.m-2= rateMoney
                            |  บาท
                .row 
                    .col.d-flex
                        h5.m-2
                            i.fas.fa-calendar-day.text-pink
                        p.m-2= dateOfOrder

                //
                .row
                    .col.d-flex
                        h5.m-2
                            i.fas.fa-info-circle.text-primary
                        p.m-2= describe
            
            a(href="/work/info/1").card-footer.text-center
                | ติดต่อผู้ประกาศ

