extends ../layout
block navbar
    include ../component/navbar/navbar-other
block content
    each val in card_data
        - var imgSrc = "/images/c.jpg"
        - var firstname = val.firstname
        - var lastname = val.lastname
        - var id = val.id
        - var location_start = val.location_start
        - var location_destination =  val.location_destination
        - var rateMoney = val.rateOfPrice
        - var goods = val.goods
        - var weight = val.weight
        //- - var dateOfAnnounce = val.date_of_announce;
        //- - var dateOfWork = val.date_of_work;
        - var infomation = val.infomation
        - var s = val.status == 0 ? true : false ;
        - var status = val.status
        .container-fluid.mt-5.p-5
            a(href="/work").text-dark.mt-5
                i.fas.fa-arrow-left
                |  ย้อนกลับ
            .card.shadow-lg
                .card-header.d-flex.justify-content-between
                    .d-flex
                        img(src=imgSrc, alt="" srcset="" height="40px").rounded-circle
                        p.text-inline= firstname + " " + lastname
                    p= dateOfAnnounce
                .card-body
                    //เส้นทาง
                    .row
                        .col.d-flex
                            h5.m-2 
                                i.fas.fa-location-arrow.text-danger
                            p.m-2= location_start
                                i.fas.fa-arrow-right
                                = location_destination
                    //สินค้า
                    .row
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-shopping-cart.text-warning
                            p.m-2= goods
                    //น้ำหนักสินค้า
                    .row
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-weight 
                            p.m-2= weight
                                |  กิโลกรัม
                    //เรทราคา
                    .row
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-money-bill-wave-alt.text-success
                            p.m-2= rateMoney
                    .row 
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-calendar-day.text-pink
                            p.m-2= dateOfWork

                    //
                    .row
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-info-circle.text-primary
                            p.m-2= infomation
                if s 
                    a(href="/work/info/"+id).card-footer.text-center
                        | ติดต่อผู้ประกาศ
                else
                    .card-footer.text-center.disabled.bg-success.text-white
                        i.fas.fa-check-circle
                        | มีผู้รับงานแล้ว